body {
  background-color: rgb(31, 34, 36);
  font-family: 'Archivo Black', sans-serif;
/* font-family: 'Passion One', cursive; */
color: rgb(218, 218, 218)
}

.nav-menu {
  width: 50vw;
  display: flex;
  text-align: center;
  align-items: center;
}

.menu-item {
  display: inline;
  margin: 2em;

  
}

.item-name {
  text-decoration: none;
}